{
  "openapi": "3.1.0",
  "info": {
    "title": "Rownd API",
    "version": "1.0.0"
  },
  "tags": [
    {
      "name": "applications"
    },
    {
      "name": "application_creds"
    },
    {
      "name": "application_schemas"
    }
  ],
  "servers": [
    {
      "url": "https://api.rownd.io",
      "description": "Rownd production environment"
    },
    {
      "url": "https://api.us-east-2.dev.rownd.io",
      "description": "Rownd development environment"
    }
  ],
  "security": [
    {
      "hubAccessTokenForRowndApi": []
    }
  ],
  "paths": {
    "/ready": {
      "get": {
        "summary": "Check if the API is ready",
        "operationId": "api_ready",
        "x-fastify-config": {
          "logLevel": "error"
        },
        "security": [
          {
            "none": []
          }
        ],
        "responses": {
          "200": {
            "description": "API is ready",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ready": {
                      "type": "boolean",
                      "description": "Whether the API is ready"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/applications": {
      "post": {
        "operationId": "application_create",
        "tags": [
          "applications"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Application"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Application created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Application"
                }
              }
            }
          },
          "402": {
            "description": "The limit on applications has been reached or no plan is subscribed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/applications/{app}": {
      "get": {
        "parameters": [
          {
            "name": "app",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "test-app-1"
          }
        ],
        "operationId": "application_get",
        "security": [
          {
            "hubAccessTokenForRowndApi": []
          },
          {
            "auth0": []
          },
          {
            "serviceAccountToken": []
          }
        ],
        "tags": [
          "applications"
        ],
        "responses": {
          "200": {
            "description": "Retrieved application successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Application"
                }
              }
            }
          }
        }
      },
      "put": {
        "parameters": [
          {
            "name": "app",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "test-app-1"
          },
          {
            "name": "If-Unmodified-Since",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "operationId": "application_update",
        "tags": [
          "applications"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApplicationUpdateReq"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Retrieved application successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Application"
                }
              }
            }
          },
          "412": {
            "description": "New application will overwrite changes made to the application",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApplicationUpdatedBy"
                }
              }
            }
          }
        }
      },
      "patch": {
        "parameters": [
          {
            "name": "app",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "test-app-1"
          },
          {
            "name": "If-Unmodified-Since",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "operationId": "application_update",
        "security": [
          {
            "hubAccessTokenForRowndApi": []
          },
          {
            "serviceAccountToken": []
          }
        ],
        "tags": [
          "applications"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApplicationUpdateReq"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Retrieved application successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Application"
                }
              }
            }
          },
          "412": {
            "description": "New application will overwrite changes made to the application",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApplicationUpdatedBy"
                }
              }
            }
          }
        }
      },
      "delete": {
        "parameters": [
          {
            "name": "app",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "test-app-1"
          }
        ],
        "operationId": "application_delete",
        "tags": [
          "applications"
        ],
        "responses": {
          "204": {
            "description": "Application deleted successfully"
          }
        }
      }
    },
    "/applications/{app}/public": {
      "get": {
        "parameters": [
          {
            "name": "app",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "operationId": "application_get_public_meta",
        "tags": [
          "applications"
        ],
        "security": [
          {
            "none": []
          }
        ],
        "responses": {
          "200": {
            "description": "The public-facing version of an application",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApplicationPublic"
                }
              }
            }
          }
        }
      }
    },
    "/applications/{app}/icon": {
      "put": {
        "parameters": [
          {
            "name": "app",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "operationId": "application_icon_update",
        "tags": [
          "applications"
        ],
        "requestBody": {
          "content": {
            "image/png": {
              "schema": {
                "type": "object",
                "format": "binary"
              }
            },
            "image/svg": {
              "schema": {
                "type": "object",
                "format": "binary"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The image was accepted for processing",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApplicationIcon"
                }
              }
            }
          },
          "412": {
            "description": "New application will overwrite changes made to the application",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApplicationUpdatedBy"
                }
              }
            }
          }
        }
      }
    },
    "/applications/{app}/logo/{type}": {
      "put": {
        "parameters": [
          {
            "name": "x-rownd-filename",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "app",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "type",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "light",
                "dark",
                "email"
              ]
            }
          }
        ],
        "operationId": "application_logo_update",
        "tags": [
          "applications"
        ],
        "x-required-role": [
          "none"
        ],
        "requestBody": {
          "content": {
            "image/png": {
              "schema": {
                "type": "object",
                "format": "binary"
              }
            },
            "image/svg": {
              "schema": {
                "type": "object",
                "format": "binary"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The image was accepted for processing",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Application"
                }
              }
            }
          },
          "412": {
            "description": "New application will overwrite changes made to the application",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApplicationUpdatedBy"
                }
              }
            }
          }
        }
      }
    },
    "/applications/{app}/animation/{type}": {
      "put": {
        "parameters": [
          {
            "name": "x-rownd-filename",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "app",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "type",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "loading"
              ]
            }
          }
        ],
        "operationId": "application_animation_update",
        "tags": [
          "applications"
        ],
        "x-required-role": [
          "none"
        ],
        "requestBody": {
          "content": {}
        },
        "responses": {
          "200": {
            "description": "The json object was accepted for processing",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApplicationAnimation"
                }
              }
            }
          },
          "412": {
            "description": "New application will overwrite changes made to the application",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApplicationUpdatedBy"
                }
              }
            }
          }
        }
      }
    },
    "/applications/{app}/creds": {
      "parameters": [
        {
          "name": "app",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          },
          "example": "test-app-1"
        }
      ],
      "get": {
        "operationId": "application_creds_list",
        "tags": [
          "application_creds"
        ],
        "responses": {
          "200": {
            "description": "Retrieved application credentials successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApplicationCredentialList"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "application_creds_create",
        "tags": [
          "application_creds"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApplicationCredential"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created application credentials successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApplicationCredential"
                }
              }
            }
          }
        }
      }
    },
    "/applications/{app}/creds/{client_id}": {
      "parameters": [
        {
          "name": "app",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          },
          "example": "test-app-1"
        },
        {
          "name": "client_id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          },
          "example": "fe6cc150-d7c1-443a-80c8-12fcf89e65e2"
        }
      ],
      "get": {
        "operationId": "application_creds_get",
        "tags": [
          "application_creds"
        ],
        "responses": {
          "200": {
            "description": "Retrieved application credential successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApplicationCredential"
                }
              }
            }
          }
        }
      },
      "patch": {
        "operationId": "application_creds_update",
        "tags": [
          "application_creds"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApplicationCredential"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated application credentials successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApplicationCredential"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "application_creds_delete",
        "tags": [
          "application_creds"
        ],
        "responses": {
          "204": {
            "description": "Application credential deleted successfully"
          }
        }
      }
    },
    "/applications/{app}/sms-keywords": {
      "parameters": [
        {
          "name": "app",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          },
          "description": "The app ID"
        }
      ],
      "post": {
        "operationId": "application_sms_keyword_create",
        "tags": [
          "applications",
          "sms_keywords"
        ],
        "x-required-role": [
          "rownd_support"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SmsKeyword"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created SMS keyword successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SmsKeyword"
                }
              }
            }
          }
        }
      },
      "get": {
        "operationId": "application_sms_keywords_list",
        "tags": [
          "applications",
          "sms_keywords"
        ],
        "parameters": [
          {
            "name": "app_variant_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "The app variant ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Created SMS keyword successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SmsKeywordList"
                }
              }
            }
          }
        }
      }
    },
    "/applications/{app}/sms-keywords/{keyword}": {
      "parameters": [
        {
          "name": "app",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          },
          "description": "The app ID"
        },
        {
          "name": "keyword",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          },
          "description": "The sms keyword ID"
        }
      ],
      "get": {
        "operationId": "application_sms_keyword_get",
        "tags": [
          "applications",
          "sms_keywords"
        ],
        "responses": {
          "200": {
            "description": "Created SMS keyword successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SmsKeyword"
                }
              }
            }
          }
        }
      },
      "patch": {
        "operationId": "application_sms_keyword_update",
        "tags": [
          "applications",
          "sms_keywords"
        ],
        "x-required-role": [
          "rownd_support"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SmsKeyword"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated SMS keyword successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SmsKeyword"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "application_sms_keyword_delete",
        "tags": [
          "applications",
          "sms_keywords"
        ],
        "responses": {
          "204": {
            "description": "SMS keyword deleted successfully"
          }
        }
      }
    },
    "/applications/{app}/sms-keywords/{keyword}/state": {
      "parameters": [
        {
          "name": "app",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          },
          "description": "The app ID"
        },
        {
          "name": "keyword",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          },
          "description": "The sms keyword ID"
        }
      ],
      "put": {
        "operationId": "application_sms_keyword_state_update",
        "tags": [
          "applications",
          "sms_keywords"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "state"
                ],
                "state": {
                  "$ref": "#/components/schemas/SmsKeywordState"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Created SMS keyword successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SmsKeyword"
                }
              }
            }
          }
        }
      }
    },
    "/applications/{app}/variants": {
      "parameters": [
        {
          "name": "app",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          },
          "example": "test-app-1"
        }
      ],
      "get": {
        "operationId": "application_variants_list",
        "tags": [
          "app_variants"
        ],
        "responses": {
          "200": {
            "description": "Listed application variants successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApplicationVariantList"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "application_variant_create",
        "tags": [
          "app_variants"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApplicationVariant"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Created application variant successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApplicationVariant"
                }
              }
            }
          }
        }
      }
    },
    "/applications/{app}/variants/{variant}": {
      "parameters": [
        {
          "name": "app",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          },
          "example": "test-app-1"
        },
        {
          "name": "variant",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "get": {
        "operationId": "application_variant_get",
        "tags": [
          "app_variants"
        ],
        "responses": {
          "200": {
            "description": "Retrieved application variant successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApplicationVariant"
                }
              }
            }
          }
        }
      },
      "patch": {
        "operationId": "application_variant_update",
        "tags": [
          "app_variants"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApplicationVariant"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated application variant successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApplicationVariant"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "application_variant_delete",
        "tags": [
          "app_variants"
        ],
        "responses": {
          "204": {
            "description": "Application variant deleted successfully"
          }
        }
      }
    },
    "/applications/{app}/variants/{variant}/logo/{type}": {
      "put": {
        "parameters": [
          {
            "name": "x-rownd-filename",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "app",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "variant",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "type",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "light",
                "dark",
                "email"
              ]
            }
          }
        ],
        "operationId": "application_variant_logo_update",
        "tags": [
          "applications"
        ],
        "x-required-role": [
          "none"
        ],
        "requestBody": {
          "content": {
            "image/png": {
              "schema": {
                "type": "object",
                "format": "binary"
              }
            },
            "image/svg": {
              "schema": {
                "type": "object",
                "format": "binary"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The image was accepted for processing",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApplicationVariant"
                }
              }
            }
          },
          "412": {
            "description": "New application will overwrite changes made to the application",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApplicationUpdatedBy"
                }
              }
            }
          }
        }
      }
    },
    "/applications/{app}/variants-affected": {
      "parameters": [
        {
          "name": "app",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          },
          "example": "test-app-1"
        }
      ],
      "post": {
        "operationId": "application_variants_affected",
        "tags": [
          "app_variants"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/HubConfig"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Listed application variants affected by a config change",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApplicationVariantDiffsList"
                }
              }
            }
          }
        }
      }
    },
    "/applications/{app}/schema": {
      "get": {
        "parameters": [
          {
            "name": "app",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "test-app-1"
          }
        ],
        "operationId": "application_schema_get",
        "security": [
          {
            "hubKey": []
          },
          {
            "hubAccessTokenForRowndApi": []
          },
          {
            "serviceAccountToken": []
          },
          {
            "auth0": []
          }
        ],
        "tags": [
          "application_schemas"
        ],
        "responses": {
          "200": {
            "description": "Retrieved application schema successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApplicationSchemaResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "parameters": [
          {
            "name": "app",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "test-app-1"
          }
        ],
        "operationId": "application_schema_update",
        "security": [
          {
            "hubAccessTokenForRowndApi": []
          },
          {
            "serviceAccountToken": []
          },
          {
            "auth0": []
          }
        ],
        "tags": [
          "application_schemas"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApplicationSchemaResponse"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated application schema successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApplicationSchemaResponse"
                }
              }
            }
          }
        }
      }
    },
    "/applications/{app}/users/association": {
      "x-rownd-visibility": "private",
      "post": {
        "parameters": [
          {
            "name": "app",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "operationId": "application_user_associate",
        "x-required-role": [
          "none"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AppUserAssociationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "User successfully associated with application",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AppUserAssociationResponse"
                }
              }
            }
          },
          "403": {
            "description": "User verification challenge failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/applications/{app}/users/data": {
      "get": {
        "parameters": [
          {
            "name": "app",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "lookup_filter",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "The values of verification fields to filter by (e.g., email, phone number).\nDepends on what verification method is used by the underlying application. This is a\ncomma-separated list of values.\n",
            "example": "jsmith@test.org"
          },
          {
            "name": "id_filter",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "A comma-separated list of user IDs to filter by. If any ID is not found, it will be excluded from the response.\n"
          },
          {
            "name": "page_size",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Number of users to return per query. Max is 1000"
          },
          {
            "name": "after",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Returns the next page of results after the user ID (inclusive)"
          },
          {
            "name": "include_duplicates",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "description": "Include multiple users if they are found using the lookup and id filters"
          }
        ],
        "operationId": "application_user_data_list",
        "security": [
          {
            "hubAccessTokenForRowndApi": []
          },
          {
            "appKey": []
          },
          {
            "appSecret": []
          },
          {
            "serviceAccountToken": []
          }
        ],
        "responses": {
          "200": {
            "description": "User records retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AppUserDataList"
                }
              }
            }
          }
        }
      },
      "put": {
        "parameters": [
          {
            "name": "app",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "operationId": "application_user_data_bulk_upsert",
        "security": [
          {
            "hubAccessTokenForRowndApi": []
          },
          {
            "appKey": []
          },
          {
            "appSecret": []
          },
          {
            "serviceAccountToken": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "users"
                ],
                "properties": {
                  "users": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "required": [
                        "user_id",
                        "data"
                      ],
                      "properties": {
                        "user_id": {
                          "type": "string"
                        },
                        "data": {
                          "type": "object",
                          "additionalProperties": true
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "User records imported",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "total_results": {
                      "type": "number"
                    },
                    "has_failures": {
                      "type": "boolean"
                    },
                    "results": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "result": {
                            "type": "object",
                            "required": [
                              "user_id"
                            ],
                            "properties": {
                              "user_id": {
                                "type": "string"
                              },
                              "data": {
                                "x-rownd-modifiers": [
                                  {
                                    "name": "maskEncryptedValues",
                                    "phase": "response"
                                  }
                                ],
                                "type": "object",
                                "additionalProperties": true
                              }
                            },
                            "additionalProperties": true
                          },
                          "status": {
                            "type": "string",
                            "enum": [
                              "success",
                              "failure"
                            ]
                          },
                          "error": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/applications/{app}/users/actions": {
      "post": {
        "parameters": [
          {
            "name": "app",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "operationId": "application_user_actions",
        "security": [
          {
            "hubAccessTokenForRowndApi": []
          },
          {
            "appKey": []
          },
          {
            "appSecret": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "actions": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/UserAction"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "User action results",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "results": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/UserActionResult"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/applications/{app}/users/__sample__/data": {
      "get": {
        "parameters": [
          {
            "name": "app",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "operationId": "application_user_sample_data_get",
        "security": [
          {
            "hubAccessTokenForRowndApi": []
          },
          {
            "appKey": []
          },
          {
            "appSecret": []
          },
          {
            "auth0": []
          }
        ],
        "responses": {
          "200": {
            "description": "User record retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AppUserData"
                }
              }
            }
          }
        }
      }
    },
    "/applications/{app}/users/{user}/data": {
      "get": {
        "parameters": [
          {
            "name": "app",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "user",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "operationId": "application_user_data_get",
        "security": [
          {
            "hubAccessTokenForRowndApi": []
          },
          {
            "appKey": []
          },
          {
            "appSecret": []
          },
          {
            "serviceAccountToken": []
          },
          {
            "auth0": []
          },
          {
            "internalPreSharedKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "User record retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AppUserData"
                }
              }
            }
          }
        }
      },
      "put": {
        "parameters": [
          {
            "name": "app",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "user",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "write_data_to_integrations",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "operationId": "application_user_data_upsert",
        "description": "Inserts or updates user data. If Rownd should generate its own ID for this record,\nset `__uuid__` or `__objectid__` as the `user` path parameter. `__uuid__` will result\nin a v4 uuid and `__objectid__` will result in a BSON ObjectID.\n",
        "security": [
          {
            "hubAccessTokenForRowndApi": []
          },
          {
            "appKey": []
          },
          {
            "appSecret": []
          },
          {
            "serviceAccountToken": []
          },
          {
            "auth0": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AppUserData"
              }
            },
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/AppUserData"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "User record updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AppUserData"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request body",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserUpsertError"
                }
              }
            }
          }
        }
      },
      "patch": {
        "parameters": [
          {
            "name": "app",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "user",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "write_data_to_integrations",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "operationId": "application_user_data_patch",
        "description": "Updates user data.\n",
        "security": [
          {
            "hubAccessTokenForRowndApi": []
          },
          {
            "appKey": []
          },
          {
            "serviceAccountToken": []
          },
          {
            "auth0": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AppUserData"
              }
            },
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/AppUserData"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "User record updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AppUserData"
                }
              }
            }
          }
        }
      },
      "delete": {
        "parameters": [
          {
            "name": "app",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "user",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "operationId": "application_user_data_delete",
        "security": [
          {
            "hubAccessTokenForRowndApi": []
          },
          {
            "appKey": []
          },
          {
            "appSecret": []
          },
          {
            "serviceAccountToken": []
          },
          {
            "auth0": []
          }
        ],
        "responses": {
          "204": {
            "description": "User record deleted successfully"
          }
        }
      }
    },
    "/applications/{app}/users/{user}/data/fields/{field}": {
      "parameters": [
        {
          "name": "app",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        },
        {
          "name": "user",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        },
        {
          "name": "field",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "get": {
        "parameters": [
          {
            "name": "preview",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "small",
                "medium",
                "large"
              ]
            },
            "description": "Return an image thumbnail of the resource"
          },
          {
            "name": "fail_on_error",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Return a 403 status code if the field is unshared by the user"
          }
        ],
        "operationId": "application_user_data_field_get",
        "security": [
          {
            "hubAccessTokenForRowndApi": []
          },
          {
            "appKey": []
          },
          {
            "appSecret": []
          },
          {
            "auth0": []
          }
        ],
        "responses": {
          "200": {
            "description": "The value of the data field",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "value": {
                      "type": "string"
                    }
                  }
                }
              },
              "*/*": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "application_user_data_field_update",
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "properties": {
                  "value": {
                    "type": "string"
                  }
                },
                "required": [
                  "value"
                ]
              }
            },
            "application/json": {
              "schema": {
                "properties": {
                  "value": {}
                },
                "required": [
                  "value"
                ]
              }
            }
          }
        },
        "security": [
          {
            "hubAccessTokenForRowndApi": []
          },
          {
            "appKey": []
          },
          {
            "appSecret": []
          },
          {
            "auth0": []
          }
        ],
        "responses": {
          "200": {
            "description": "The value of the data field",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AppUserData"
                }
              }
            }
          }
        }
      }
    },
    "/applications/{app}/users/{user}/acls": {
      "parameters": [
        {
          "name": "app",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        },
        {
          "name": "user",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "get": {
        "operationId": "application_user_acls_get",
        "responses": {
          "200": {
            "description": "User ACLs retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AppUserACLs"
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "application_user_acls_upsert",
        "tags": [
          "me"
        ],
        "x-required-role": [
          "none"
        ],
        "security": [
          {
            "hubAccessToken": []
          },
          {
            "auth0": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AppUserACLs"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "User ACLs retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AppUserACLs"
                }
              }
            }
          }
        }
      }
    },
    "/applications/{app}/forms": {
      "parameters": [
        {
          "name": "app",
          "in": "path",
          "schema": {
            "type": "string"
          },
          "required": true
        }
      ],
      "get": {
        "operationId": "app_form_list",
        "tags": [
          "forms"
        ],
        "responses": {
          "200": {
            "description": "Form list retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AppFormList"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "app_form_create",
        "tags": [
          "forms"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AppForm"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Form created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AppForm"
                }
              }
            }
          }
        }
      }
    },
    "/applications/{app}/forms/{form}": {
      "parameters": [
        {
          "name": "app",
          "in": "path",
          "schema": {
            "type": "string"
          },
          "required": true
        },
        {
          "name": "form",
          "in": "path",
          "schema": {
            "type": "string"
          },
          "required": true
        }
      ],
      "get": {
        "operationId": "app_form_get",
        "tags": [
          "forms"
        ],
        "responses": {
          "200": {
            "description": "Form retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AppForm"
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "app_form_update",
        "tags": [
          "forms"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AppForm"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Form updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AppForm"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "app_form_delete",
        "tags": [
          "forms"
        ],
        "responses": {
          "200": {
            "description": "Form deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AppForm"
                }
              }
            }
          }
        }
      }
    },
    "/applications/{app}/automations": {
      "parameters": [
        {
          "name": "app",
          "in": "path",
          "schema": {
            "type": "string"
          },
          "required": true
        }
      ],
      "get": {
        "operationId": "application_automations_list",
        "description": "Retrieve the list of automations for the application",
        "tags": [
          "automations"
        ],
        "responses": {
          "200": {
            "description": "Content automations retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "total_results": {
                      "type": "integer"
                    },
                    "results": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "$ref": "#/components/schemas/Automation"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "application_automation_create",
        "description": "Create a new automation for the application",
        "tags": [
          "automations"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Automation"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Automation created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Automation"
                }
              }
            }
          }
        }
      }
    },
    "/applications/{app}/automations/order": {
      "post": {
        "operationId": "application_automation_order",
        "description": "Update the order of automations for the application",
        "tags": [
          "automations"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "order": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Automation order updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "total_results": {
                      "type": "integer"
                    },
                    "results": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "$ref": "#/components/schemas/Automation"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/applications/{app}/automations/{automation}": {
      "get": {
        "operationId": "application_automation_get",
        "description": "Get a specific automation",
        "tags": [
          "automations"
        ],
        "responses": {
          "200": {
            "description": "Automation updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Automation"
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "application_automation_update",
        "description": "Update a automation",
        "tags": [
          "automations"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Automation"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Automation updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Automation"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "application_automation_delete",
        "description": "Delete a automation",
        "tags": [
          "automations"
        ],
        "responses": {
          "204": {
            "description": "Automation deleted successfully"
          }
        }
      }
    },
    "/applications/{app}/automations/mobile/pages": {
      "parameters": [
        {
          "$ref": "#/components/parameters/AppID"
        }
      ],
      "post": {
        "operationId": "mobile_app_page_create",
        "description": "Create a mobile app page",
        "tags": [
          "automations"
        ],
        "security": [
          {
            "hubAccessTokenForRowndApi": []
          }
        ],
        "x-required-roles": [
          "editor"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MobileAppPageCreateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully created mobile app page",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MobileAppPage"
                }
              }
            }
          }
        }
      },
      "get": {
        "operationId": "mobile_app_pages_list",
        "description": "List mobile app pages",
        "tags": [
          "automations"
        ],
        "security": [
          {
            "appKey": []
          },
          {
            "hubAccessTokenForRowndApi": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved mobile app pages",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MobileAppPageList"
                }
              }
            }
          }
        }
      }
    },
    "/applications/{app}/automations/mobile/pages/{page}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/AppID"
        },
        {
          "$ref": "#/components/parameters/MobileAppPageID"
        }
      ],
      "get": {
        "operationId": "mobile_app_page_get",
        "description": "Get mobile app page",
        "tags": [
          "automations"
        ],
        "security": [
          {
            "appKey": []
          },
          {
            "hubAccessTokenForRowndApi": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved mobile app page",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MobileAppPage"
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "mobile_app_page_update",
        "description": "Update mobile app page",
        "tags": [
          "automations"
        ],
        "security": [
          {
            "hubAccessTokenForRowndApi": []
          }
        ],
        "x-required-roles": [
          "editor"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MobileAppPage"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully updated mobile app page",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MobileAppPage"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "mobile_app_page_delete",
        "tags": [
          "automations"
        ],
        "security": [
          {
            "hubAccessTokenForRowndApi": []
          }
        ],
        "x-required-roles": [
          "editor"
        ],
        "responses": {
          "204": {
            "description": "Successfully deleted mobile app page"
          }
        }
      }
    },
    "/applications/{app}/automations/mobile/versions": {
      "parameters": [
        {
          "$ref": "#/components/parameters/AppID"
        }
      ],
      "post": {
        "operationId": "mobile_app_version_create",
        "description": "Create a mobile app version",
        "tags": [
          "automations"
        ],
        "security": [
          {
            "hubAccessTokenForRowndApi": []
          }
        ],
        "x-required-roles": [
          "editor"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MobileAppVersionCreateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully created mobile app version",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MobileAppVersion"
                }
              }
            }
          }
        }
      },
      "get": {
        "operationId": "mobile_app_versions_list",
        "description": "List mobile app versions",
        "tags": [
          "automations"
        ],
        "security": [
          {
            "hubAccessTokenForRowndApi": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved mobile app versions",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MobileAppVersionList"
                }
              }
            }
          }
        }
      }
    },
    "/applications/{app}/automations/mobile/versions/{version}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/AppID"
        },
        {
          "$ref": "#/components/parameters/MobileAppVersionID"
        }
      ],
      "get": {
        "operationId": "mobile_app_version_get",
        "description": "Get mobile app version",
        "tags": [
          "automations"
        ],
        "security": [
          {
            "hubAccessTokenForRowndApi": []
          }
        ],
        "x-required-roles": [
          "editor"
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved mobile app version",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MobileAppVersion"
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "mobile_app_version_update",
        "description": "Update mobile app version",
        "tags": [
          "automations"
        ],
        "security": [
          {
            "hubAccessTokenForRowndApi": []
          }
        ],
        "x-required-roles": [
          "editor"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MobileAppVersion"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully updated mobile app version",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MobileAppVersion"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "mobile_app_version_delete",
        "tags": [
          "automations"
        ],
        "security": [
          {
            "hubAccessTokenForRowndApi": []
          }
        ],
        "x-required-roles": [
          "editor"
        ],
        "responses": {
          "204": {
            "description": "Successfully deleted mobile app version"
          }
        }
      }
    },
    "/applications/{app}/analytics": {
      "get": {
        "parameters": [
          {
            "name": "start_date",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "required": false
          },
          {
            "name": "end_date",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "required": false,
            "description": "The end date of the analytics range.\nDefaults to the current date.\nCannot be more than 90 days later than the start date.\nUse ISO8601 format\n"
          },
          {
            "name": "resolution",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "hour",
                "day",
                "minute"
              ]
            },
            "required": false,
            "description": "The resolution of the analytics data.\nDefaults to day.\n"
          }
        ],
        "operationId": "application_analytics_get",
        "tags": [
          "analytics"
        ],
        "responses": {
          "200": {
            "description": "Analytics retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApplicationAnalytics"
                }
              }
            }
          }
        }
      }
    },
    "/applications/{app}/groups": {
      "parameters": [
        {
          "$ref": "#/components/parameters/AppID"
        }
      ],
      "get": {
        "operationId": "application_groups_list",
        "description": "Platform API for listing all groups belonging to an app",
        "tags": [
          "groups"
        ],
        "security": [
          {
            "appKey": [],
            "appSecret": []
          },
          {
            "hubAccessTokenForRowndApi": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/PageSizeMax100"
          },
          {
            "$ref": "#/components/parameters/After"
          }
        ],
        "responses": {
          "200": {
            "description": "Groups retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GroupList"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "application_group_create",
        "description": "Platform API for creating a new group",
        "tags": [
          "groups"
        ],
        "security": [
          {
            "appKey": [],
            "appSecret": []
          },
          {
            "hubAccessTokenForRowndApi": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Group"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Group created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Group"
                }
              }
            }
          }
        }
      }
    },
    "/applications/{app}/groups/{group}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/AppID"
        },
        {
          "$ref": "#/components/parameters/GroupID"
        }
      ],
      "get": {
        "operationId": "application_group_get",
        "description": "Platform API for retrieving a group",
        "tags": [
          "groups"
        ],
        "security": [
          {
            "appKey": [],
            "appSecret": []
          },
          {
            "hubAccessTokenForRowndApi": []
          }
        ],
        "responses": {
          "200": {
            "description": "Group created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Group"
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "application_group_update",
        "description": "Platform API for updating a group",
        "tags": [
          "groups"
        ],
        "security": [
          {
            "appKey": [],
            "appSecret": []
          },
          {
            "hubAccessTokenForRowndApi": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Group"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Group created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Group"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "application_group_delete",
        "description": "Platform API for deleting a group",
        "tags": [
          "groups"
        ],
        "security": [
          {
            "appKey": [],
            "appSecret": []
          },
          {
            "hubAccessTokenForRowndApi": []
          }
        ],
        "responses": {
          "204": {
            "description": "Group deleted successfully"
          }
        }
      }
    },
    "/applications/{app}/groups/{group}/members": {
      "parameters": [
        {
          "$ref": "#/components/parameters/AppID"
        },
        {
          "$ref": "#/components/parameters/GroupID"
        }
      ],
      "get": {
        "operationId": "application_group_members_list",
        "description": "Platform API for listing group members",
        "tags": [
          "groups"
        ],
        "security": [
          {
            "appKey": [],
            "appSecret": []
          },
          {
            "hubAccessTokenForRowndApi": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/PageSizeMax100"
          },
          {
            "$ref": "#/components/parameters/After"
          },
          {
            "$ref": "#/components/parameters/LookupFilter"
          }
        ],
        "responses": {
          "200": {
            "description": "Group members retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GroupMemberList"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "application_group_member_create",
        "summary": "Create a Group Member",
        "description": "Platform API for creating a member within the group. You can create a member by providing a user\nID or a user lookup value like an email address or phone number. The first member created within\na group will automatically be assigned the `'owner'` role.\n",
        "tags": [
          "groups"
        ],
        "security": [
          {
            "appKey": [],
            "appSecret": []
          },
          {
            "hubAccessTokenForRowndApi": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GroupMember"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Group member created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GroupMember"
                }
              }
            }
          }
        }
      }
    },
    "/applications/{app}/groups/{group}/members/{member}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/AppID"
        },
        {
          "$ref": "#/components/parameters/GroupID"
        },
        {
          "$ref": "#/components/parameters/MemberID"
        }
      ],
      "get": {
        "operationId": "application_group_member_get",
        "description": "Platform API for retrieving a group member",
        "tags": [
          "groups"
        ],
        "security": [
          {
            "appKey": [],
            "appSecret": []
          },
          {
            "hubAccessTokenForRowndApi": []
          }
        ],
        "responses": {
          "200": {
            "description": "Group member retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GroupMember"
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "application_group_member_update",
        "description": "Platform API for updating a group member",
        "tags": [
          "groups"
        ],
        "security": [
          {
            "appKey": [],
            "appSecret": []
          },
          {
            "hubAccessTokenForRowndApi": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GroupMember"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Group member updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GroupMember"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "application_group_member_delete",
        "description": "Platform API for deleting a group member",
        "tags": [
          "groups"
        ],
        "security": [
          {
            "appKey": [],
            "appSecret": []
          },
          {
            "hubAccessTokenForRowndApi": []
          }
        ],
        "responses": {
          "204": {
            "description": "Group member deleted successfully"
          }
        }
      }
    },
    "/applications/{app}/groups/{group}/invites": {
      "parameters": [
        {
          "$ref": "#/components/parameters/AppID"
        },
        {
          "$ref": "#/components/parameters/GroupID"
        }
      ],
      "post": {
        "operationId": "application_group_invite_create",
        "description": "Platform API for creating a group invite",
        "tags": [
          "groups"
        ],
        "security": [
          {
            "appKey": [],
            "appSecret": []
          },
          {
            "hubAccessTokenForRowndApi": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GroupInvite"
              },
              "examples": {
                "Invite with user ID": {
                  "value": {
                    "user_id": "user_ofr5pgvof4w6o94hgjg0urjy",
                    "roles": [
                      "admin"
                    ],
                    "redirect_url": "/somewhere/on/my/site#"
                  }
                },
                "Invite with email": {
                  "value": {
                    "email": "randy@foo.com",
                    "roles": [
                      "admin"
                    ],
                    "redirect_url": "https://foo.com/somewhere/else/on/my/site#"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Group invite created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "link": {
                      "type": "string",
                      "description": "The invitation link. Your user will use this link to accept the invite. \nFor now, you will need to send this link to your users. In the future, Rownd will \nautomatically send out invites via email or SMS for you\n"
                    },
                    "invitation": {
                      "$ref": "#/components/schemas/GroupInvite"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "get": {
        "operationId": "application_group_invites_list",
        "description": "Platform API for listing group invites",
        "tags": [
          "groups"
        ],
        "security": [
          {
            "appKey": [],
            "appSecret": []
          },
          {
            "hubAccessTokenForRowndApi": []
          }
        ],
        "parameters": [
          {
            "name": "ensured_user_id",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "The User ID for which the invite was created. _This is not the member ID_"
          }
        ],
        "responses": {
          "200": {
            "description": "Groups retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GroupInviteList"
                }
              }
            }
          }
        }
      }
    },
    "/applications/{app}/groups/{group}/invites/{invite}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/AppID"
        },
        {
          "$ref": "#/components/parameters/GroupID"
        },
        {
          "$ref": "#/components/parameters/InviteID"
        }
      ],
      "get": {
        "operationId": "application_group_invite_get",
        "description": "Platform API for retrieving a group invite",
        "tags": [
          "groups"
        ],
        "security": [
          {
            "appKey": [],
            "appSecret": []
          },
          {
            "hubAccessTokenForRowndApi": []
          }
        ],
        "responses": {
          "200": {
            "description": "Group invite retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GroupInvite"
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "application_group_invite_update",
        "description": "Platform API for updating a group invite",
        "tags": [
          "groups"
        ],
        "security": [
          {
            "appKey": [],
            "appSecret": []
          },
          {
            "hubAccessTokenForRowndApi": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GroupInvite"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Group invite updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GroupInvite"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "application_group_invite_delete",
        "description": "Platform API for deleting a group invite",
        "tags": [
          "groups"
        ],
        "security": [
          {
            "appKey": [],
            "appSecret": []
          },
          {
            "hubAccessTokenForRowndApi": []
          }
        ],
        "responses": {
          "204": {
            "description": "Group invite deleted successfully"
          }
        }
      }
    },
    "/me/groups": {
      "get": {
        "operationId": "my_groups_list",
        "description": "User-facing API for listing groups",
        "tags": [
          "groups"
        ],
        "security": [
          {
            "hubAccessToken": []
          }
        ],
        "responses": {
          "200": {
            "description": "Groups retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserGroupList"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "my_group_create",
        "description": "User-facing API for creating a new group. The callee is automatically added with the `\"owner\"` role.\n",
        "tags": [
          "groups"
        ],
        "security": [
          {
            "hubAccessToken": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Group"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Group created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserGroup"
                }
              }
            }
          }
        }
      }
    },
    "/me/groups/{group}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/GroupID"
        }
      ],
      "get": {
        "operationId": "my_group_get",
        "description": "User-facing API for retrieving a group",
        "tags": [
          "groups"
        ],
        "security": [
          {
            "hubAccessToken": []
          }
        ],
        "responses": {
          "200": {
            "description": "Group created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserGroup"
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "my_group_update",
        "description": "User-facing API for updating a group",
        "tags": [
          "groups"
        ],
        "security": [
          {
            "hubAccessToken": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Group"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Group created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserGroup"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "my_group_delete",
        "description": "User-facing API for deleting a group",
        "tags": [
          "groups"
        ],
        "security": [
          {
            "hubAccessToken": []
          }
        ],
        "responses": {
          "204": {
            "description": "Group deleted successfully"
          }
        }
      }
    },
    "/me/groups/{group}/members": {
      "parameters": [
        {
          "$ref": "#/components/parameters/GroupID"
        }
      ],
      "get": {
        "operationId": "my_group_members_list",
        "description": "User-facing API for listing group members",
        "tags": [
          "groups"
        ],
        "security": [
          {
            "hubAccessToken": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/PageSizeMax100"
          },
          {
            "$ref": "#/components/parameters/After"
          }
        ],
        "responses": {
          "200": {
            "description": "Group members retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GroupMemberList"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "my_group_member_create",
        "description": "User-facing API for creating a group member",
        "tags": [
          "groups"
        ],
        "security": [
          {
            "hubAccessToken": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GroupMember"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Group member created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GroupMember"
                }
              }
            }
          }
        }
      }
    },
    "/me/groups/{group}/members/{member}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/GroupID"
        },
        {
          "$ref": "#/components/parameters/MemberID"
        }
      ],
      "get": {
        "operationId": "my_group_member_get",
        "description": "User-facing API for retrieving a group member",
        "tags": [
          "groups"
        ],
        "security": [
          {
            "hubAccessToken": []
          }
        ],
        "responses": {
          "200": {
            "description": "Group member retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GroupMember"
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "my_group_member_update",
        "description": "User-facing API for updating a group member",
        "tags": [
          "groups"
        ],
        "security": [
          {
            "hubAccessToken": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GroupMember"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Group member updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GroupMember"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "my_group_member_delete",
        "description": "User-facing API for deleting a group member",
        "tags": [
          "groups"
        ],
        "security": [
          {
            "hubAccessToken": []
          }
        ],
        "responses": {
          "204": {
            "description": "Group member deleted successfully"
          }
        }
      }
    },
    "/me/groups/{group}/invites": {
      "parameters": [
        {
          "$ref": "#/components/parameters/GroupID"
        }
      ],
      "post": {
        "operationId": "my_group_invite_create",
        "description": "User-facing API for creating a group invite. An invite can be created for a user by providing\ntheir `user_id`, `email`, or `phone`. Once accepted, the user will be added as a member within\nthe group and be assigned the roles specified in the invite.\n",
        "tags": [
          "groups"
        ],
        "security": [
          {
            "hubAccessToken": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GroupInvite"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Group invite created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "link": {
                      "type": "string",
                      "description": "The invitation link"
                    },
                    "invitation": {
                      "$ref": "#/components/schemas/GroupInvite"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "get": {
        "operationId": "my_group_invites_list",
        "description": "User-facing API for listing group invites",
        "tags": [
          "groups"
        ],
        "security": [
          {
            "hubAccessToken": []
          }
        ],
        "responses": {
          "200": {
            "description": "Group invites retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GroupInviteList"
                }
              }
            }
          }
        }
      }
    },
    "/me/groups/{group}/invites/{invite}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/GroupID"
        },
        {
          "$ref": "#/components/parameters/InviteID"
        }
      ],
      "get": {
        "operationId": "my_group_invite_get",
        "description": "User-facing API for retrieving a group invite",
        "tags": [
          "groups"
        ],
        "security": [
          {
            "hubAccessToken": []
          }
        ],
        "responses": {
          "200": {
            "description": "Group invite retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GroupInvite"
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "my_group_invite_update",
        "description": "User-facing API for updating a group invite",
        "tags": [
          "groups"
        ],
        "security": [
          {
            "hubAccessToken": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GroupInvite"
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "my_group_invite_delete",
        "description": "User-facing API for deleting a group invite",
        "tags": [
          "groups"
        ],
        "security": [
          {
            "hubAccessToken": []
          }
        ],
        "responses": {
          "204": {
            "description": "Group invite deleted successfully"
          }
        }
      }
    },
    "/me/groups/{group}/invites/{invite}/accept": {
      "parameters": [
        {
          "$ref": "#/components/parameters/GroupID"
        },
        {
          "$ref": "#/components/parameters/InviteID"
        }
      ],
      "post": {
        "operationId": "my_group_invite_accept",
        "description": "User-facing API for accepting a group invite. If the acceptance is successful, the user will be\nredirected to the invite's `redirect_url`.\n",
        "tags": [
          "groups"
        ],
        "security": [
          {
            "hubAccessToken": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {}
            }
          }
        },
        "responses": {
          "200": {
            "description": "Group invite accepted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "result": {
                      "type": "string"
                    },
                    "accepted_by": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/forms/{form}": {
      "parameters": [
        {
          "name": "form",
          "in": "path",
          "schema": {
            "type": "string"
          },
          "required": true
        }
      ],
      "get": {
        "operationId": "form_get",
        "description": "Retrieve a published form for display on a website, etc",
        "tags": [
          "forms"
        ],
        "x-required-role": [
          "none"
        ],
        "security": [
          {
            "none": []
          }
        ],
        "responses": {
          "200": {
            "description": "Form retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AppForm"
                }
              }
            }
          }
        }
      }
    },
    "/forms/{form}/data": {
      "parameters": [
        {
          "name": "form",
          "in": "path",
          "schema": {
            "type": "string"
          },
          "required": true
        }
      ],
      "post": {
        "operationId": "form_data_submit",
        "description": "Submit user data for a given form",
        "tags": [
          "forms"
        ],
        "x-required-role": [
          "none"
        ],
        "security": [
          {
            "formKey": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AppFormData"
              }
            },
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/AppFormData"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Form data submitted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AppFormData"
                }
              }
            }
          }
        }
      }
    },
    "/accounts": {
      "get": {
        "operationId": "account_list",
        "tags": [
          "accounts"
        ],
        "x-required-role": [
          "none"
        ],
        "responses": {
          "200": {
            "description": "Accounts retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountList"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "account_create",
        "tags": [
          "accounts"
        ],
        "x-required-role": [
          "none"
        ],
        "responses": {
          "201": {
            "description": "Account created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Account"
                }
              }
            }
          }
        }
      }
    },
    "/accounts/quick-setup": {
      "post": {
        "operationId": "account_quick_setup",
        "tags": [
          "accounts"
        ],
        "x-required-role": [
          "none"
        ],
        "responses": {
          "200": {
            "description": "Account set up successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountSetupResponse"
                }
              }
            }
          }
[...]
