{
  "openapi": "3.1.0",
  "info": {
    "title": "Rownd API",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.rownd.io",
      "description": "Rownd production environment"
    },
    {
      "url": "https://api.us-east-2.dev.rownd.io",
      "description": "Rownd development environment"
    }
  ],
  "security": [
    {
      "hubAccessTokenForRowndApi": []
    }
  ],
  "tags": [
    {
      "name": "applications"
    },
    {
      "name": "application_creds"
    },
    {
      "name": "application_schemas"
    }
  ],
  "paths": {
    "/ready": {
      "get": {
        "summary": "Check if the API is ready",
        "operationId": "api_ready",
        "x-fastify-config": {
          "logLevel": "error"
        },
        "security": [
          {
            "none": []
          }
        ],
        "responses": {
          "200": {
            "description": "API is ready",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ready": {
                      "type": "boolean",
                      "description": "Whether the API is ready"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/service_health": {
      "get": {
        "summary": "Check the health status of rownd",
        "operationId": "api_service_health",
        "security": [
          {
            "none": []
          }
        ],
        "responses": {
          "200": {
            "description": "Rownd status",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          }
        }
      }
    },
    "/applications": {
      "post": {
        "operationId": "application_create",
        "tags": [
          "applications"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Application"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Application created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Application"
                }
              }
            }
          },
          "402": {
            "description": "The limit on applications has been reached or no plan is subscribed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/applications/{app}": {
      "get": {
        "parameters": [
          {
            "name": "app",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "test-app-1"
          }
        ],
        "operationId": "application_get",
        "security": [
          {
            "hubAccessTokenForRowndApi": []
          },
          {
            "serviceAccountToken": []
          }
        ],
        "tags": [
          "applications"
        ],
        "responses": {
          "200": {
            "description": "Retrieved application successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Application"
                }
              }
            }
          }
        }
      },
      "put": {
        "parameters": [
          {
            "name": "app",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "test-app-1"
          },
          {
            "name": "If-Unmodified-Since",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "operationId": "application_update",
        "tags": [
          "applications"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApplicationUpdateReq"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Retrieved application successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Application"
                }
              }
            }
          },
          "412": {
            "description": "New application will overwrite changes made to the application",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApplicationUpdatedBy"
                }
              }
            }
          }
        }
      },
      "patch": {
        "parameters": [
          {
            "name": "app",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "test-app-1"
          },
          {
            "name": "If-Unmodified-Since",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "operationId": "application_update",
        "security": [
          {
            "hubAccessTokenForRowndApi": []
          },
          {
            "serviceAccountToken": []
          }
        ],
        "tags": [
          "applications"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApplicationUpdateReq"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Retrieved application successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Application"
                }
              }
            }
          },
          "412": {
            "description": "New application will overwrite changes made to the application",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApplicationUpdatedBy"
                }
              }
            }
          }
        }
      },
      "delete": {
        "parameters": [
          {
            "name": "app",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "test-app-1"
          }
        ],
        "operationId": "application_delete",
        "tags": [
          "applications"
        ],
        "responses": {
          "204": {
            "description": "Application deleted successfully"
          }
        }
      }
    },
    "/applications/{app}/public": {
      "get": {
        "parameters": [
          {
            "name": "app",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "operationId": "application_get_public_meta",
        "tags": [
          "applications"
        ],
        "security": [
          {
            "none": []
          }
        ],
        "responses": {
          "200": {
            "description": "The public-facing version of an application",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApplicationPublic"
                }
              }
            }
          }
        }
      }
    },
    "/applications/{app}/icon": {
      "put": {
        "parameters": [
          {
            "name": "app",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "operationId": "application_icon_update",
        "tags": [
          "applications"
        ],
        "requestBody": {
          "content": {
            "image/png": {
              "schema": {
                "type": "object",
                "format": "binary"
              }
            },
            "image/svg": {
              "schema": {
                "type": "object",
                "format": "binary"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The image was accepted for processing",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApplicationIcon"
                }
              }
            }
          },
          "412": {
            "description": "New application will overwrite changes made to the application",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApplicationUpdatedBy"
                }
              }
            }
          }
        }
      }
    },
    "/applications/{app}/logo/{type}": {
      "put": {
        "parameters": [
          {
            "name": "x-rownd-filename",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "app",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "type",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "light",
                "dark",
                "email"
              ]
            }
          }
        ],
        "operationId": "application_logo_update",
        "tags": [
          "applications"
        ],
        "x-required-role": [
          "none"
        ],
        "requestBody": {
          "content": {
            "image/png": {
              "schema": {
                "type": "object",
                "format": "binary"
              }
            },
            "image/svg": {
              "schema": {
                "type": "object",
                "format": "binary"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The image was accepted for processing",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Application"
                }
              }
            }
          },
          "412": {
            "description": "New application will overwrite changes made to the application",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApplicationUpdatedBy"
                }
              }
            }
          }
        }
      }
    },
    "/applications/{app}/assets/{id}": {
      "get": {
        "parameters": [
          {
            "name": "app",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "operationId": "application_asset_get",
        "tags": [
          "applications"
        ],
        "x-required-role": [
          "editor",
          "admin",
          "owner",
          "viewer"
        ],
        "responses": {
          "200": {
            "description": "Retrieved application asset successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AssetUpload"
                }
              }
            }
          }
        }
      },
      "put": {
        "parameters": [
          {
            "name": "x-rownd-filename",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "app",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "operationId": "application_asset_upsert",
        "tags": [
          "applications"
        ],
        "x-required-role": [
          "editor",
          "admin",
          "owner"
        ],
        "requestBody": {
          "content": {
            "image/png": {
              "schema": {
                "type": "object",
                "format": "binary"
              }
            },
            "image/svg": {
              "schema": {
                "type": "object",
                "format": "binary"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The asset was accepted for processing",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AssetUpload"
                }
              }
            }
          }
        }
      },
      "delete": {
        "parameters": [
          {
            "name": "app",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "operationId": "application_asset_delete",
        "tags": [
          "applications"
        ],
        "x-required-role": [
          "editor",
          "admin",
          "owner"
        ],
        "responses": {
          "204": {
            "description": "Application asset deleted successfully"
          }
        }
      }
    },
    "/applications/{app}/animation/{type}": {
      "put": {
        "parameters": [
          {
            "name": "x-rownd-filename",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "app",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "type",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "loading"
              ]
            }
          }
        ],
        "operationId": "application_animation_update",
        "tags": [
          "applications"
        ],
        "x-required-role": [
          "none"
        ],
        "requestBody": {
          "content": {}
        },
        "responses": {
          "200": {
            "description": "The json object was accepted for processing",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApplicationAnimation"
                }
              }
            }
          },
          "412": {
            "description": "New application will overwrite changes made to the application",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApplicationUpdatedBy"
                }
              }
            }
          }
        }
      }
    },
    "/applications/{app}/creds": {
      "parameters": [
        {
          "name": "app",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          },
          "example": "test-app-1"
        }
      ],
      "get": {
        "operationId": "application_creds_list",
        "tags": [
          "application_creds"
        ],
        "responses": {
          "200": {
            "description": "Retrieved application credentials successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApplicationCredentialList"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "application_creds_create",
        "tags": [
          "application_creds"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApplicationCredential"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created application credentials successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApplicationCredential"
                }
              }
            }
          }
        }
      }
    },
    "/applications/{app}/creds/{client_id}": {
      "parameters": [
        {
          "name": "app",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          },
          "example": "test-app-1"
        },
        {
          "name": "client_id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          },
          "example": "fe6cc150-d7c1-443a-80c8-12fcf89e65e2"
        }
      ],
      "get": {
        "operationId": "application_creds_get",
        "tags": [
          "application_creds"
        ],
        "responses": {
          "200": {
            "description": "Retrieved application credential successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApplicationCredential"
                }
              }
            }
          }
        }
      },
      "patch": {
        "operationId": "application_creds_update",
        "tags": [
          "application_creds"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApplicationCredential"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated application credentials successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApplicationCredential"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "application_creds_delete",
        "tags": [
          "application_creds"
        ],
        "responses": {
          "204": {
            "description": "Application credential deleted successfully"
          }
        }
      }
    },
    "/applications/{app}/sms-keywords": {
      "parameters": [
        {
          "name": "app",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          },
          "description": "The app ID"
        }
      ],
      "post": {
        "operationId": "application_sms_keyword_create",
        "tags": [
          "applications",
          "sms_keywords"
        ],
        "x-required-role": [
          "rownd_support"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SmsKeyword"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created SMS keyword successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SmsKeyword"
                }
              }
            }
          }
        }
      },
      "get": {
        "operationId": "application_sms_keywords_list",
        "tags": [
          "applications",
          "sms_keywords"
        ],
        "parameters": [
          {
            "name": "app_variant_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "The app variant ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Created SMS keyword successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SmsKeywordList"
                }
              }
            }
          }
        }
      }
    },
    "/applications/{app}/sms-keywords/{keyword}": {
      "parameters": [
        {
          "name": "app",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          },
          "description": "The app ID"
        },
        {
          "name": "keyword",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          },
          "description": "The sms keyword ID"
        }
      ],
      "get": {
        "operationId": "application_sms_keyword_get",
        "tags": [
          "applications",
          "sms_keywords"
        ],
        "responses": {
          "200": {
            "description": "Created SMS keyword successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SmsKeyword"
                }
              }
            }
          }
        }
      },
      "patch": {
        "operationId": "application_sms_keyword_update",
        "tags": [
          "applications",
          "sms_keywords"
        ],
        "x-required-role": [
          "rownd_support"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SmsKeyword"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated SMS keyword successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SmsKeyword"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "application_sms_keyword_delete",
        "tags": [
          "applications",
          "sms_keywords"
        ],
        "responses": {
          "204": {
            "description": "SMS keyword deleted successfully"
          }
        }
      }
    },
    "/applications/{app}/sms-keywords/{keyword}/state": {
      "parameters": [
        {
          "name": "app",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          },
          "description": "The app ID"
        },
        {
          "name": "keyword",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          },
          "description": "The sms keyword ID"
        }
      ],
      "put": {
        "operationId": "application_sms_keyword_state_update",
        "tags": [
          "applications",
          "sms_keywords"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "state"
                ],
                "state": {
                  "$ref": "#/components/schemas/SmsKeywordState"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Created SMS keyword successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SmsKeyword"
                }
              }
            }
          }
        }
      }
    },
    "/applications/{app}/variants": {
      "parameters": [
        {
          "name": "app",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          },
          "example": "test-app-1"
        }
      ],
      "get": {
        "operationId": "application_variants_list",
        "tags": [
          "app_variants"
        ],
        "responses": {
          "200": {
            "description": "Listed application variants successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApplicationVariantList"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "application_variant_create",
        "tags": [
          "app_variants"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApplicationVariantCreateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Created application variant successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApplicationVariant"
                }
              }
            }
          }
        }
      }
    },
    "/applications/{app}/variants/{variant}": {
      "parameters": [
        {
          "name": "app",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          },
          "example": "test-app-1"
        },
        {
          "name": "variant",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "get": {
        "operationId": "application_variant_get",
        "tags": [
          "app_variants"
        ],
        "responses": {
          "200": {
            "description": "Retrieved application variant successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApplicationVariant"
                }
              }
            }
          }
        }
      },
      "patch": {
        "operationId": "application_variant_update",
        "tags": [
          "app_variants"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApplicationVariant"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated application variant successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApplicationVariant"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "application_variant_delete",
        "tags": [
          "app_variants"
        ],
        "responses": {
          "204": {
            "description": "Application variant deleted successfully"
          }
        }
      }
    },
    "/applications/{app}/variants/{variant}/logo/{type}": {
      "put": {
        "parameters": [
          {
            "name": "x-rownd-filename",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "app",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "variant",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "type",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "light",
                "dark",
                "email"
              ]
            }
          }
        ],
        "operationId": "application_variant_logo_update",
        "tags": [
          "applications"
        ],
        "x-required-role": [
          "none"
        ],
        "requestBody": {
          "content": {
            "image/png": {
              "schema": {
                "type": "object",
                "format": "binary"
              }
            },
            "image/svg": {
              "schema": {
                "type": "object",
                "format": "binary"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The image was accepted for processing",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApplicationVariant"
                }
              }
            }
          },
          "412": {
            "description": "New application will overwrite changes made to the application",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApplicationUpdatedBy"
                }
              }
            }
          }
        }
      }
    },
    "/applications/{app}/variants-affected": {
      "parameters": [
        {
          "name": "app",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          },
          "example": "test-app-1"
        }
      ],
      "post": {
        "operationId": "application_variants_affected",
        "tags": [
          "app_variants"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/HubConfig"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Listed application variants affected by a config change",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApplicationVariantDiffsList"
                }
              }
            }
          }
        }
      }
    },
    "/applications/{app}/domains": {
      "parameters": [
        {
          "$ref": "#/components/parameters/AppID"
        },
        {
          "$ref": "#/components/parameters/PageSizeMax1000"
        },
        {
          "$ref": "#/components/parameters/After"
        },
        {
          "$ref": "#/components/parameters/Sort"
        }
      ],
      "get": {
        "operationId": "application_domains_list",
        "description": "Platform API for retrieving application domains",
        "tags": [
          "domains"
        ],
        "security": [
          {
            "appKey": [],
            "appSecret": []
          },
          {
            "hubAccessTokenForRowndApi": []
          }
        ],
        "responses": {
          "200": {
            "description": "Application domains retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApplicationDomainList"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "application_domain_create",
        "description": "Platform API for creating an application domain",
        "tags": [
          "domains"
        ],
        "security": [
          {
            "appKey": [],
            "appSecret": []
          },
          {
            "hubAccessTokenForRowndApi": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApplicationDomainCreateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Application domain created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApplicationDomain"
                }
              }
            }
          }
        }
      }
    },
    "/applications/{app}/domains/{domain}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/AppID"
        },
        {
          "$ref": "#/components/parameters/ApplicationDomainID"
        }
      ],
      "get": {
        "operationId": "application_domain_get",
        "description": "Platform API for retrieving an application domain",
        "tags": [
          "domains"
        ],
        "security": [
          {
            "appKey": [],
            "appSecret": []
          },
          {
            "hubAccessTokenForRowndApi": []
          }
        ],
        "responses": {
          "200": {
            "description": "Application domain retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApplicationDomain"
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "application_domain_update",
        "description": "Platform API for updating an application domain",
        "tags": [
          "domains"
        ],
        "security": [
          {
            "appKey": [],
            "appSecret": []
          },
          {
            "hubAccessTokenForRowndApi": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApplicationDomainUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Application domain updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApplicationDomain"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "application_domain_delete",
        "description": "Platform API for deleting an application domain",
        "tags": [
          "domains"
        ],
        "responses": {
          "204": {
            "description": "Application domain deleted successfully"
          }
        }
      }
    },
    "/applications/{app}/schema": {
      "get": {
        "parameters": [
          {
            "name": "app",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "test-app-1"
          }
        ],
        "operationId": "application_schema_get",
        "security": [
          {
            "hubKey": []
          },
          {
            "hubAccessTokenForRowndApi": []
          },
          {
            "serviceAccountToken": []
          }
        ],
        "tags": [
          "application_schemas"
        ],
        "responses": {
          "200": {
            "description": "Retrieved application schema successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApplicationSchemaResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "parameters": [
          {
            "name": "app",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "test-app-1"
          }
        ],
        "operationId": "application_schema_update",
        "security": [
          {
            "hubAccessTokenForRowndApi": []
          },
          {
            "serviceAccountToken": []
          }
        ],
        "tags": [
          "application_schemas"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApplicationSchemaResponse"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated application schema successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApplicationSchemaResponse"
                }
              }
            }
          }
        }
      }
    },
    "/applications/{app}/users/association": {
      "x-rownd-visibility": "private",
      "post": {
        "parameters": [
          {
            "name": "app",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "operationId": "application_user_associate",
        "x-required-role": [
          "none"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AppUserAssociationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "User successfully associated with application",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AppUserAssociationResponse"
                }
              }
            }
          },
          "403": {
            "description": "User verification challenge failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/applications/{app}/users/data": {
      "parameters": [
        {
          "$ref": "#/components/parameters/AppID"
        }
      ],
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/Fields"
          },
          {
            "$ref": "#/components/parameters/LookupFilter",
            "description": "Return user profiles with verified values that match this filter. This is a comma-separated\nlist of values.\n"
          },
          {
            "$ref": "#/components/parameters/IDFilter"
          },
          {
            "$ref": "#/components/parameters/PageSizeMax1000"
          },
          {
            "$ref": "#/components/parameters/After"
          },
          {
            "$ref": "#/components/parameters/Sort"
          },
          {
            "name": "include_duplicates",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "description": "Include multiple users if they are found using the lookup and id filters",
            "example": true
          }
        ],
        "operationId": "application_user_data_list",
        "security": [
          {
            "appKey": [],
            "appSecret": []
          },
          {
            "hubAccessTokenForRowndApi": []
          },
          {
            "serviceAccountToken": []
          }
        ],
        "responses": {
          "200": {
            "description": "User records retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AppUserDataList"
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "application_user_data_bulk_upsert",
        "description": "Upsert a batch of user profiles",
        "security": [
          {
            "appKey": [],
            "appSecret": []
          },
          {
            "hubAccessTokenForRowndApi": []
          },
          {
            "serviceAccountToken": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "users"
                ],
                "properties": {
                  "users": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "required": [
                        "user_id",
                        "data"
                      ],
                      "properties": {
                        "user_id": {
                          "type": "string",
                          "description": "The user ID. If you'd like Rownd to generate IDs for you, use one of the\nID directives like `\"__default__\"` or `\"__uuid__\"`.\n",
                          "example": "__default__"
                        },
                        "data": {
                          "$ref": "#/components/schemas/AppUserDataData",
                          "description": "The user profile data"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "User records imported",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "total_results": {
                      "type": "number",
                      "description": "The total number of results"
                    },
                    "has_failures": {
                      "type": "boolean",
                      "description": "Indicates if there was a failure upserting at least one of the users",
                      "example": false
                    },
                    "results": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "result": {
                            "type": "object",
                            "required": [
                              "user_id"
                            ],
                            "properties": {
                              "user_id": {
                                "type": "string",
                                "description": "The generated user ID"
                              },
                              "data": {
                                "$ref": "#/components/schemas/AppUserDataData",
                                "description": "The generated user profile data"
                              }
                            },
                            "additionalProperties": true
                          },
                          "status": {
                            "type": "string",
                            "enum": [
                              "success",
                              "failure"
                            ],
                            "description": "The result of processing the user profile",
                            "example": "success"
                          },
                          "error": {
                            "type": "string",
                            "description": "An error message if Rownd could not upsert the user profile successfully",
                            "example": "Something went wrong"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/applications/{app}/users/actions": {
      "post": {
        "parameters": [
          {
            "name": "app",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "operationId": "application_user_actions",
        "security": [
          {
            "hubAccessTokenForRowndApi": []
          },
          {
            "appKey": [],
            "appSecret": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "actions": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/UserAction"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "User action results",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "results": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/UserActionResult"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/applications/{app}/users/__sample__/data": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/AppID"
          }
        ],
        "operationId": "application_user_sample_data_get",
        "description": "Retrieve sample user data",
        "security": [
          {
            "appKey": [],
            "appSecret": []
          },
          {
            "hubAccessTokenForRowndApi": []
          }
        ],
        "responses": {
          "200": {
            "description": "User record retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AppUserData"
                }
              }
            }
          }
        }
      }
    },
    "/applications/{app}/users/{user}/data": {
      "parameters": [
        {
          "$ref": "#/components/parameters/AppID"
        },
        {
          "$ref": "#/components/parameters/UserID"
        }
      ],
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/Fields"
          }
        ],
        "operationId": "application_user_data_get",
        "description": "Retrieve a user profile",
        "security": [
          {
            "appKey": [],
            "appSecret": []
          },
          {
            "hubAccessTokenForRowndApi": []
          },
          {
            "serviceAccountToken": []
          },
          {
            "internalPreSharedKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "User profile retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AppUserData"
                }
              }
            }
          }
        }
      },
      "put": {
        "parameters": [
          {
            "$ref": "#/components/parameters/WriteDataToIntegrations"
          }
        ],
        "operationId": "application_user_data_upsert",
        "description": "Insert or update user profile data",
        "security": [
          {
            "appKey": [],
            "appSecret": []
          },
          {
            "hubAccessTokenForRowndApi": []
          },
          {
            "serviceAccountToken": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AppUserData"
              }
            },
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/AppUserData"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "User profile updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AppUserData"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request body",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserUpsertError"
                }
              }
            }
          }
        }
      },
      "patch": {
        "parameters": [
          {
            "$ref": "#/components/parameters/AppID"
          },
          {
            "$ref": "#/components/parameters/UserID"
          },
          {
            "$ref": "#/components/parameters/WriteDataToIntegrations"
          }
        ],
        "operationId": "application_user_data_patch",
        "description": "Updates user profile data",
        "security": [
          {
            "appKey": [],
            "appSecret": []
          },
          {
            "hubAccessTokenForRowndApi": []
          },
          {
            "serviceAccountToken": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AppUserData"
              }
            },
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/AppUserData"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "User record updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AppUserData"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "application_user_data_delete",
        "description": "Delete a user profile",
        "security": [
          {
            "appKey": [],
            "appSecret": []
          },
          {
            "hubAccessTokenForRowndApi": []
          },
          {
            "serviceAccountToken": []
          }
        ],
        "responses": {
          "204": {
            "description": "User record deleted successfully"
          }
        }
      }
    },
    "/applications/{app}/users/{user}/data/fields/{field}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/AppID"
        },
        {
          "$ref": "#/components/parameters/UserID"
        },
        {
          "$ref": "#/components/parameters/Field"
        }
      ],
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/Preview"
          },
          {
            "name": "fail_on_error",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Return a 403 status code if the field is unshared by the user"
          }
        ],
        "operationId": "application_user_data_field_get",
        "description": "Retrieve the value of one field in a user profile",
        "security": [
          {
            "appKey": [],
            "appSecret": []
          },
          {
            "hubAccessTokenForRowndApi": []
          }
        ],
        "responses": {
          "200": {
            "description": "The value of the data field",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "value": {
                      "type": "string"
                    }
                  }
                }
              },
              "*/*": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "application_user_data_field_update",
        "description": "Update the value of one field in a user profile",
        "security": [
          {
            "appKey": [],
            "appSecret": []
          },
          {
            "hubAccessTokenForRowndApi": []
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "properties": {
                  "value": {
                    "type": "string"
                  }
                },
                "required": [
                  "value"
                ]
              }
            },
            "application/json": {
              "schema": {
                "properties": {
                  "value": {}
                },
                "required": [
                  "value"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The value of the data field",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AppUserData"
                }
              }
            }
          }
        }
      }
    },
    "/applications/{app}/users/{user}/state": {
      "post": {
        "parameters": [
          {
            "$ref": "#/components/parameters/AppID"
          },
          {
            "$ref": "#/components/parameters/UserID"
          }
        ],
        "operationId": "application_user_state_update",
        "description": "Set the user's state",
        "security": [
          {
            "appKey": [],
            "appSecret": []
          },
          {
            "hubAccessTokenForRowndApi": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AppUserStateUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "User state updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AppUserData"
                }
              }
            }
          }
        }
      }
    },
    "/applications/{app}/users/{user}/signout": {
      "post": {
        "parameters": [
          {
            "$ref": "#/components/parameters/AppID"
          },
          {
            "$ref": "#/components/parameters/UserID"
          }
        ],
        "operationId": "application_user_signout",
        "description": "Revokes all tokens for the specified user causing them to be signed out on all devices.",
        "tags": [
          "applications"
        ],
        "security": [
          {
            "appKey": [],
            "appSecret": []
          },
          {
            "hubAccessTokenForRowndApi": []
          }
        ],
        "x-required-role": [
          "editor",
          "admin",
          "owner"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "sign_out_all": {
                    "type": "boolean"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "User signout successful"
          }
        }
      }
    },
    "/applications/{app}/forms": {
      "parameters": [
        {
          "name": "app",
          "in": "path",
          "schema": {
            "type": "string"
          },
          "required": true
        }
      ],
      "get": {
        "operationId": "app_form_list",
        "tags": [
          "forms"
        ],
        "responses": {
          "200": {
            "description": "Form list retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AppFormList"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "app_form_create",
        "tags": [
          "forms"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AppForm"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Form created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AppForm"
                }
              }
            }
          }
        }
      }
    },
    "/applications/{app}/forms/{form}": {
      "parameters": [
        {
          "name": "app",
          "in": "path",
          "schema": {
            "type": "string"
          },
          "required": true
        },
        {
          "name": "form",
          "in": "path",
          "schema": {
            "type": "string"
          },
          "required": true
        }
      ],
      "get": {
        "operationId": "app_form_get",
        "tags": [
          "forms"
        ],
        "responses": {
          "200": {
            "description": "Form retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AppForm"
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "app_form_update",
        "tags": [
          "forms"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AppForm"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Form updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AppForm"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "app_form_delete",
        "tags": [
          "forms"
        ],
        "responses": {
          "200": {
            "description": "Form deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AppForm"
                }
              }
            }
          }
        }
      }
    },
    "/applications/{app}/automations": {
      "parameters": [
        {
          "name": "app",
          "in": "path",
          "schema": {
            "type": "string"
          },
          "required": true
        }
      ],
      "get": {
        "operationId": "application_automations_list",
        "description": "Retrieve the list of automations for the application",
        "tags": [
          "automations"
        ],
        "responses": {
          "200": {
            "description": "Content automations retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "total_results": {
                      "type": "integer"
                    },
                    "results": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "$ref": "#/components/schemas/Automation"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "application_automation_create",
        "description": "Create a new automation for the application",
        "tags": [
          "automations"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Automation"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Automation created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Automation"
                }
              }
            }
          }
        }
      }
    },
    "/applications/{app}/automations/order": {
      "post": {
        "operationId": "application_automation_order",
        "description": "Update the order of automations for the application",
        "tags": [
          "automations"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "order": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Automation order updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "total_results": {
                      "type": "integer"
                    },
                    "results": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "$ref": "#/components/schemas/Automation"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/applications/{app}/automations/{automation}": {
      "parameters": [
        {
          "name": "app",
          "in": "path",
          "schema": {
            "type": "string"
          },
          "required": true
        },
        {
          "name": "automation",
          "in": "path",
          "schema": {
            "type": "string"
          },
          "required": true
        }
      ],
      "get": {
        "operationId": "application_automation_get",
        "description": "Get a specific automation",
        "tags": [
          "automations"
        ],
        "responses": {
          "200": {
            "description": "Automation updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Automation"
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "application_automation_update",
        "description": "Update a automation",
        "tags": [
          "automations"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Automation"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Automation updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Automation"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "application_automation_delete",
        "description": "Delete a automation",
        "tags": [
          "automations"
        ],
        "responses": {
          "204": {
            "description": "Automation deleted successfully"
          }
        }
      }
    },
    "/applications/{app}/automations/mobile/pages": {
      "parameters": [
        {
          "$ref": "#/components/parameters/AppID"
        }
      ],
      "post": {
        "operationId": "mobile_app_page_create",
        "description": "Create a mobile app page",
        "tags": [
          "automations"
        ],
        "security": [
          {
            "hubAccessTokenForRowndApi": []
          }
        ],
        "x-required-roles": [
          "editor"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MobileAppPageCreateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully created mobile app page",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MobileAppPage"
                }
              }
            }
          }
        }
      },
      "get": {
        "operationId": "mobile_app_pages_list",
        "description": "List mobile app pages",
        "tags": [
          "automations"
        ],
        "security": [
          {
            "appKey": [],
            "appSecret": []
          },
          {
            "hubAccessTokenForRowndApi": []
          },
          {
            "hubKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved mobile app pages",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MobileAppPageList"
                }
              }
            }
          }
        }
      }
    },
    "/applications/{app}/automations/mobile/pages/{page}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/AppID"
        },
        {
          "$ref": "#/components/parameters/MobileAppPageID"
        }
      ],
      "get": {
        "operationId": "mobile_app_page_get",
        "description": "Get mobile app page",
        "tags": [
          "automations"
        ],
        "security": [
          {
            "appKey": [],
            "appSecret": []
          },
          {
            "hubAccessTokenForRowndApi": []
          },
          {
            "hubKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved mobile app page",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MobileAppPage"
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "mobile_app_page_update",
        "description": "Update mobile app page",
        "tags": [
          "automations"
        ],
        "security": [
          {
            "hubAccessTokenForRowndApi": []
          }
        ],
        "x-required-roles": [
          "editor"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MobileAppPage"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully updated mobile app page",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MobileAppPage"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "mobile_app_page_delete",
        "tags": [
          "automations"
        ],
        "security": [
          {
            "hubAccessTokenForRowndApi": []
          }
        ],
        "x-required-roles": [
          "editor"
        ],
        "responses": {
          "204": {
            "description": "Successfully deleted mobile app page"
          }
        }
      }
    },
    "/applications/{app}/automations/mobile/pages/{page}/captures": {
      "parameters": [
        {
          "$ref": "#/components/parameters/AppID"
        },
        {
          "$ref": "#/components/parameters/MobileAppPageID"
        }
      ],
      "post": {
        "operationId": "mobile_app_page_capture_create",
        "description": "Create a mobile app page capture",
        "tags": [
          "automations"
        ],
        "security": [
          {
            "hubAccessTokenForRowndApi": []
          }
        ],
        "x-required-roles": [
          "editor"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MobileAppPageCaptureCreateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully created mobile app page capture",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MobileAppPageCapture"
                }
              }
            }
          }
        }
      },
      "get": {
        "operationId": "mobile_app_page_captures_list",
        "description": "List mobile app page captures",
        "tags": [
          "automations"
        ],
        "security": [
          {
            "appKey": [],
            "appSecret": []
          },
          {
            "hubAccessTokenForRowndApi": []
          },
          {
            "hubKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved mobile app page captures",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MobileAppPageCaptureList"
                }
              }
            }
          }
        }
      }
    },
    "/applications/{app}/automations/mobile/pages/{page}/captures/{capture}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/AppID"
        },
        {
          "$ref": "#/components/parameters/MobileAppPageID"
        },
        {
          "$ref": "#/components/parameters/MobileAppPageCaptureID"
        }
      ],
      "get": {
        "operationId": "mobile_app_page_capture_get",
        "description": "Get mobile app page capture",
        "tags": [
          "automations"
        ],
        "security": [
          {
            "appKey": [],
            "appSecret": []
          },
          {
            "hubAccessTokenForRowndApi": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved mobile app page capture",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MobileAppPageCapture"
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "mobile_app_page_capture_update",
        "description": "Update mobile app page capture",
        "tags": [
          "automations"
        ],
        "security": [
          {
            "hubAccessTokenForRowndApi": []
          }
        ],
        "x-required-roles": [
          "editor"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MobileAppPageCaptureUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully updated mobile app page capture",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MobileAppPageCapture"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "mobile_app_page_capture_delete",
        "tags": [
          "automations"
        ],
        "security": [
          {
            "hubAccessTokenForRowndApi": []
          }
        ],
        "x-required-roles": [
          "editor"
        ],
        "responses": {
          "204": {
            "description": "Successfully deleted mobile app page capture"
          }
        }
      }
    },
    "/applications/{app}/automations/mobile/magic": {
      "parameters": [
        {
          "$ref": "#/components/parameters/AppID"
        }
      ],
      "post": {
        "operationId": "mobile_app_tagging_magic_create",
        "description": "Create a magic link for mobile app tagging",
        "tags": [
          "automations"
        ],
        "security": [
          {
            "hubAccessTokenForRowndApi": []
          }
        ],
        "x-required-roles": [
          "editor"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MobileAppTaggingMagicCreateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully created mobile app page",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MobileAppTaggingMagicCreateResponse"
                }
              }
            }
          }
        }
      }
    },
    "/applications/{app}/analytics": {
      "get": {
        "parameters": [
          {
            "name": "start_date",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "required": false
          },
          {
            "name": "end_date",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "required": false,
            "description": "The end date of the analytics range.\nDefaults to the current date.\nCannot be more than 90 days later than the start date.\nUse ISO8601 format\n"
          },
          {
            "name": "resolution",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "hour",
                "day",
                "minute"
              ]
            },
            "required": false,
            "description": "The resolution of the analytics data.\nDefaults to day.\n"
          }
        ],
        "operationId": "application_analytics_get",
        "tags": [
          "analytics"
        ],
        "responses": {
          "200": {
            "description": "Analytics retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApplicationAnalytics"
                }
              }
            }
          }
        }
      }
    },
    "/applications/{app}/groups": {
      "parameters": [
        {
          "$ref": "#/components/parameters/AppID"
        }
      ],
      "get": {
        "operationId": "application_groups_list",
        "description": "Platform API for listing all groups belonging to an app",
        "tags": [
          "groups"
        ],
        "security": [
          {
            "appKey": [],
            "appSecret": []
          },
          {
            "hubAccessTokenForRowndApi": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/PageSizeMax100"
          },
          {
            "$ref": "#/components/parameters/After"
          },
          {
            "$ref": "#/components/parameters/LookupFilter"
          }
        ],
        "responses": {
          "200": {
            "description": "Groups retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GroupList"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "application_group_create",
        "description": "Platform API for creating a new group",
        "tags": [
          "groups"
        ],
        "security": [
          {
            "appKey": [],
            "appSecret": []
          },
          {
            "hubAccessTokenForRowndApi": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Group"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Group created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Group"
                }
              }
            }
          }
        }
      }
    },
    "/applications/{app}/groups/{group}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/AppID"
        },
        {
          "$ref": "#/components/parameters/GroupID"
        }
      ],
      "get": {
        "operationId": "application_group_get",
        "description": "Platform API for retrieving a group",
        "tags": [
          "groups"
        ],
        "security": [
          {
            "appKey": [],
            "appSecret": []
          },
          {
            "hubAccessTokenForRowndApi": []
          }
        ],
        "responses": {
          "200": {
            "description": "Group created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Group"
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "application_group_update",
        "description": "Platform API for updating a group",
        "tags": [
          "groups"
        ],
        "security": [
          {
            "appKey": [],
            "appSecret": []
          },
          {
            "hubAccessTokenForRowndApi": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Group"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Group created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Group"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "application_group_delete",
        "description": "Platform API for deleting a group",
        "tags": [
          "groups"
        ],
        "security": [
          {
            "appKey": [],
            "appSecret": []
          },
          {
            "hubAccessTokenForRowndApi": []
          }
        ],
        "responses": {
          "204": {
            "description": "Group deleted successfully"
          }
        }
      }
    },
    "/applications/{app}/groups/{group}/members": {
      "parameters": [
        {
          "$ref": "#/components/parameters/AppID"
        },
        {
          "$ref": "#/components/parameters/GroupID"
        }
      ],
      "get": {
        "operationId": "application_group_members_list",
        "description": "Platform API for listing group members",
        "tags": [
          "groups"
        ],
        "security": [
          {
            "appKey": [],
            "appSecret": []
          },
          {
            "hubAccessTokenForRowndApi": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/PageSizeMax100"
          },
          {
            "$ref": "#/components/parameters/After"
          },
          {
            "$ref": "#/components/parameters/LookupFilter"
          }
        ],
        "responses": {
          "200": {
            "description": "Group members retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GroupMemberList"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "application_group_member_create",
        "description": "Platform API for creating a member within the group. You can create a member by providing a user\nID or a user lookup value like an email address or phone number. The first member created within\na group will automatically be assigned the `'owner'` role.\n",
        "tags": [
          "groups"
        ],
        "security": [
          {
            "appKey": [],
            "appSecret": []
          },
          {
            "hubAccessTokenForRowndApi": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GroupMember"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Group member created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GroupMember"
                }
              }
            }
          }
        }
      }
    },
    "/applications/{app}/groups/{group}/members/{member}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/AppID"
        },
        {
          "$ref": "#/components/parameters/GroupID"
        },
        {
          "$ref": "#/components/parameters/GroupMemberID"
        }
      ],
      "get": {
        "operationId": "application_group_member_get",
        "description": "Platform API for retrieving a group member",
        "tags": [
          "groups"
        ],
        "security": [
          {
            "appKey": [],
            "appSecret": []
          },
          {
            "hubAccessTokenForRowndApi": []
          }
        ],
        "responses": {
          "200": {
            "description": "Group member retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GroupMember"
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "application_group_member_update",
        "description": "Platform API for updating a group member",
        "tags": [
          "groups"
        ],
        "security": [
          {
            "appKey": [],
            "appSecret": []
          },
          {
            "hubAccessTokenForRowndApi": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GroupMember"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Group member updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GroupMember"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "application_group_member_delete",
        "description": "Platform API for deleting a group member",
        "tags": [
          "groups"
        ],
        "security": [
          {
            "appKey": [],
            "appSecret": []
          },
          {
            "hubAccessTokenForRowndApi": []
          }
        ],
        "responses": {
          "204": {
            "description": "Group member deleted successfully"
          }
        }
      }
    },
    "/applications/{app}/groups/{group}/invites": {
      "parameters": [
        {
          "$ref": "#/components/parameters/AppID"
        },
        {
          "$ref": "#/components/parameters/GroupID"
        }
      ],
      "post": {
        "operationId": "application_group_invite_create",
        "description": "Platform API for creating a group invite",
        "tags": [
          "groups"
        ],
        "security": [
          {
            "appKey": [],
            "appSecret": []
          },
          {
            "hubAccessTokenForRowndApi": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GroupInvite"
              },
              "examples": {
                "Invite with user ID": {
                  "value": {
                    "user_id": "user_ofr5pgvof4w6o94hgjg0urjy",
                    "roles": [
                      "admin"
                    ],
                    "redirect_url": "/somewhere/on/my/site#"
                  }
                },
                "Invite with email": {
                  "value": {
                    "email": "randy@foo.com",
                    "roles": [
                      "admin"
                    ],
                    "redirect_url": "https://foo.com/somewhere/else/on/my/site#"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Group invite created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "link": {
                      "type": "string",
                      "description": "The invitation link. Your user will use this link to accept the invite. \nFor now, you will need to send this link to your users. In the future, Rownd will \nautomatically send out invites via email or SMS for you\n"
                    },
                    "invitation": {
                      "$ref": "#/components/schemas/GroupInvite"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "get": {
        "operationId": "application_group_invites_list",
        "description": "Platform API for listing group invites",
        "tags": [
          "groups"
        ],
        "security": [
          {
            "appKey": [],
            "appSecret": []
          },
          {
            "hubAccessTokenForRowndApi": []
          }
        ],
        "parameters": [
          {
            "name": "ensured_user_id",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "The User ID for which the invite was created. _This is not the member ID_"
          }
        ],
        "responses": {
          "200": {
            "description": "Groups retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GroupInviteList"
                }
              }
            }
          }
        }
      }
    },
    "/applications/{app}/groups/{group}/invites/{invite}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/AppID"
        },
        {
          "$ref": "#/components/parameters/GroupID"
        },
        {
          "$ref": "#/components/parameters/GroupInviteID"
        }
      ],
      "get": {
        "operationId": "application_group_invite_get",
        "description": "Platform API for retrieving a group invite",
        "tags": [
          "groups"
        ],
        "security": [
          {
            "appKey": [],
            "appSecret": []
          },
          {
            "hubAccessTokenForRowndApi": []
          }
        ],
        "responses": {
          "200": {
            "description": "Group invite retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GroupInvite"
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "application_group_invite_update",
        "description": "Platform API for updating a group invite",
        "tags": [
          "groups"
        ],
        "security": [
          {
            "appKey": [],
            "appSecret": []
          },
          {
            "hubAccessTokenForRowndApi": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GroupInvite"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Group invite updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GroupInvite"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "application_group_invite_delete",
        "description": "Platform API for deleting a group invite",
        "tags": [
          "groups"
        ],
        "security": [
          {
            "appKey": [],
            "appSecret": []
          },
          {
            "hubAccessTokenForRowndApi": []
          }
        ],
        "responses": {
          "204": {
            "description": "Group invite deleted successfully"
          }
        }
      }
    },
    "/me/groups": {
      "get": {
        "operationId": "my_groups_list",
        "description": "User-facing API for listing groups",
        "tags": [
          "groups"
        ],
        "security": [
          {
            "hubAccessToken": []
          }
        ],
        "responses": {
          "200": {
            "description": "Groups retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserGroupList"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "my_group_create",
        "description": "User-facing API for creating a new group. The callee is automatically added with the `\"owner\"` role.\n",
        "tags": [
          "groups"
        ],
        "security": [
          {
            "hubAccessToken": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Group"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Group created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserGroup"
                }
              }
            }
          }
        }
      }
    },
    "/me/groups/{group}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/GroupID"
        }
      ],
      "get": {
        "operationId": "my_group_get",
        "description": "User-facing API for retrieving a group",
        "tags": [
          "groups"
        ],
        "security": [
          {
            "hubAccessToken": []
          }
        ],
        "responses": {
          "200": {
            "description": "Group created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserGroup"
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "my_group_update",
        "description": "User-facing API for updating a group",
        "tags": [
          "groups"
        ],
        "security": [
          {
            "hubAccessToken": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Group"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Group created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserGroup"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "my_group_delete",
        "description": "User-facing API for deleting a group",
        "tags": [
          "groups"
        ],
        "security": [
          {
            "hubAccessToken": []
          }
        ],
        "responses": {
          "204": {
            "description": "Group deleted successfully"
          }
        }
      }
    },
    "/me/groups/{group}/members": {
      "parameters": [
        {
          "$ref": "#/components/parameters/GroupID"
        }
      ],
      "get": {
        "operationId": "my_group_members_list",
        "description": "User-facing API for listing group members",
        "tags": [
          "groups"
        ],
        "security": [
          {
            "hubAccessToken": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/PageSizeMax100"
          },
          {
            "$ref": "#/components/parameters/After"
          }
        ],
        "responses": {
          "200": {
            "description": "Group members retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GroupMemberList"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "my_group_member_create",
        "description": "User-facing API for creating a group member",
        "tags": [
          "groups"
        ],
        "security": [
          {
            "hubAccessToken": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GroupMember"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Group member created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GroupMember"
                }
              }
            }
          }
        }
      }
    },
    "/me/groups/{group}/members/{member}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/GroupID"
        },
        {
          "$ref": "#/components/parameters/GroupMemberID"
        }
      ],
      "get": {
        "operationId": "my_group_member_get",
        "description": "User-facing API for retrieving a group member",
        "tags": [
          "groups"
        ],
        "security": [
          {
            "hubAccessToken": []
          }
        ],
        "responses": {
          "200": {
            "description": "Group member retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GroupMember"
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "my_group_member_update",
        "description": "User-facing API for updating a group member",
        "tags": [
          "groups"
        ],
        "security": [
          {
            "hubAccessToken": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GroupMember"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Group member updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GroupMember"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "my_group_member_delete",
        "description": "User-facing API for deleting a group member",
        "tags": [
          "groups"
        ],
        "security": [
          {
            "hubAccessToken": []
          }
        ],
        "responses": {
          "204": {
            "description": "Group member deleted successfully"
          }
        }
      }
    },
    "/me/groups/{group}/invites": {
      "parameters": [
        {
          "$ref": "#/components/parameters/GroupID"
        }
      ],
      "post": {
        "operationId": "my_group_invite_create",
        "description": "User-facing API for creating a group invite. An invite can be created for a user by providing\ntheir `user_id`, `email`, or `phone`. Once accepted, the user will be added as a member within\nthe group and be assigned the roles specified in the invite.\n",
        "tags": [
          "groups"
        ],
        "security": [
          {
[...]
